
// General Variables
$x-small: 420px;
$small: 600px;
$medium: 900px;

// General Colors
$primary-color: #c1e6f1;
$secondary-color: #f4f4f4;
$text-color: #030303;
$border-color-form:#d9dde3;


// Component Colors
// # Announce
$annonce-bg-color: #fff7c1;
// # SearchBar
$search-color-form:#bfc3c9;
$search-btn-color-bg:#030303;
$search-btn-color-text:#fdfdfd;
$badge-header-color:#fec21d;
$btn-text-weight-bold: 600;
$border-radius-form: 6px;
$padding-input: 20px;
$padding-input-y: 12px;
$padding-input-y-smallScreen: 6px;

// # Home Menu Collapse
$border-color-light:#e5e8ec;


// # Drawer
$background-logo-color: #031624;
$drawer-icon-color-light: #fff;


// # Navbar Main
$navbar-menu-min-width: 300px;