@import "../styles/variables.scss";

.best-seller-title {
  border-bottom: 1px solid $border-color-light;
  .label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: $royal-blue;
  }
}

.best-seller-content {
  margin-top: 1rem;
  flex-wrap: wrap;
  flex: 1 1 21%;
}
