.menu-promo-wrapper{
  display: flex;
  .menu-promo-btn{
    padding-left: 1rem;
    font-size: small;
    font-weight: bold;
    border-radius: 0;
    min-height: 40px;
    .small-text{
      font-weight: 100;
      position: absolute;
      font-size: x-small;
      top: 0;
      left: 34px;
      color: #9f9f9f;
    }
    .menu-promo-icon{
      position: absolute;
      left: 1px;
      color: #d11414;
      top: -5px;
    }
  }
}