
@import "../styles/variables.scss";


.menu-promo-wrapper{
  display: flex;
  
  .menu-promo-btn{
    padding-left: 1rem;
    font-size: small;
    font-weight: bold;
    border-radius: 0;
    min-height: 40px;
    @media screen and (max-width: $laptop) {
      padding-left: .5rem;
      font-size: x-small;
      border-radius: 0;
      min-height: 25px;
    }
    .small-text{
      font-weight: 100;
      position: absolute;
      font-size: x-small;
      top: 0;
      left: 34px;
      color: #9f9f9f;
      @media screen and (max-width: $laptop) {
        font-size: xx-small;
      }
    }
    .menu-promo-icon{
      position: absolute;
      left: 1px;
      color: #d11414;
      top: -5px;
    }
  }
}